# dialect+driver://...
# - dialect = el tipo de DB (postgresql)
# - driver = la libreria que hace la conexion real (psycopg2)
# Normalmente psycopg2 es el default, por eso funciona sin ponerlo.

DEV_DATABASE_URL=postgresql+psycopg2://username:password@localhost:PORT/mydatabase

PROD_DATABASE_URL=postgresql+psycopg2://username:password@localhost:PORT/mydatabase
GOOGLE_CLIENT_ID=tu-client-id.apps.googleusercontent.com
